@{
    ViewBag.Title = "Home Page";
}


<div class="col-md-4">
    <input type="text" class="form-control" id="txtkeyword" placeholder="buscar" />
    <a class="btn btn-default" href="javascript:void(0);" onclick="btnSearch()">content</a>
</div>
<div class="col-md-4">
    <div class="container" id="YoutubeList">
        
    </div>
</div>
<script>

    function btnSearch() {
        $.ajax({
            url: '@Url.Action("YoutubeVideosSearcher")?keyword='+$('#txtkeyword').val(),
            type: 'GET',
            success: function (result) {
                $('#YoutubeList').html(result)
            }
        });
    }
</script>
