@model IList<Google.Apis.YouTube.v3.Data.SearchResult>
@{
    ViewBag.Title = "Searcher";
}

<div class="container">
   @* <ul class="container list-group">*@
    <div class="list-group">
        @foreach (var searchResult in Model)
        {
            @*<a class="btn-default"><li class="list-group-item btn-outline-secondary">@searchResult.Snippet.Title <a>dd</a></li></a>*@
            <a class="list-group-item list-group-item-action">
                <div class="row col-lg-13">
                    <div class="col-lg-9">
                        <b>@searchResult.Snippet.Title</b>
                    </div>
                    <div class="col-lg-3" style="padding-left: 61px;">

                        
                        <span class="btn btn-block fas fa-list  text-dark col-sm-1" onclick="addToPlayList('@searchResult.Id.VideoId','@searchResult.Snippet.Thumbnails.Default__.Url');"></span>
                    </div>
                </div>

                
            </a>
        }
    </div>
    @*</ul>*@
</div>


